<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of productlist">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{product.photo}}" height="152px" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"><a routerLink="view-product/{{product.product_id}}">
                                    {{product.p_name}}</a></h5>
                            <!-- Product price-->
                            {{product.price}}
                        </div>
                    </div>
                    <div class="add-to-cart">

                        <button class="add-to-cart-btn" routerLinkActive="active" (click)="addToCart(product)"><i
                                class="fa fa-shopping-cart"></i> Add to cart</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>